# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
/ios
/android

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*
logs
*.log

# macOS / Windows
.DS_Store
*.pem
Thumbs.db

# local env files
.env*.local

# typescript
*.tsbuildinfo

# Editor
.vscode/*
!.vscode/extensions.json
.idea

# Claude Code local settings
.claude/settings.local.json
